<!DOCTYPE html>
<html lang="en-US" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<script  src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body ng-app="myApp">

<div ng-controller="contactController">
 <div class="container-fluid">  
         <div id="contacts" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <form name="contact">
            <table>
              <tr>
  <td>First Name </td><td> <input type="text"  name="fname" ng-model="firstName" placeholder="First Name" ng-pattern="/^[a-zA-Z ]*$/">
  <span class="error" ng-show="contact.fname.$error.pattern">
            invalid First Name!
        </span>
  </td></tr>
  <tr><td>Middle Name</td> <td><input type="text" name="mname" ng-model="Middle_Name" placeholder="Middle Name" ng-pattern="/^[a-zA-Z ]*$/" >
   <span class="error" ng-show="contact.mname.$error.pattern">
            invalid Middle Name!
        </span>
  </td></tr>
  <tr><td>Last Name  </td><td><input type="text" name="lname" ng-model="lastName" placeholder="Last Name" ng-pattern="/^[a-zA-Z ]*$/" >
    <span class="error" ng-show="contact.lname.$error.pattern">
            invalid Last Name!
        </span>
  </td></tr>
<tr><td>Contact Number</td><td> <input type="text" ng-model="contactNumber" onblur="" name="Number" placeholder="Contact Number" ng-pattern="/^[0-9]{10}$/" maxlength="10" >
 <span class="error" ng-show="contact.Number.$error.pattern">
            invalid Contact Number!
        </span>
</td>
   <tr><td>Contact Email</td><td> <input type="text" name="email"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"   ng-model="Contact_Email" placeholder="Contact Email" >
    <span class="error" ng-show="contact.email.$error.pattern">
            invalid email!
        </span></td></tr>
   <table>
  <center><button ng-click="AddContact()" class="btn btn-success">Add New Contact </button></center>
  </form>
            </div>  
</div>   
 

  
<div ><h1>Hello {{contact.firstName}}</h1></div>
Search <input type="text" ng-model="search">
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contactList  | filter :search " >
        <td><input type="text" ng-model="contact.firstName" ng-show="enabledEdit[{{$index}}]"><span ng-show="!enabledEdit[{{$index}}]">{{contact.firstName}}</span></td>
        <td><input type="text" ng-model="contact.lastName" ng-show="enabledEdit[{{$index}}]"><span ng-show="!enabledEdit[{{$index}}]">{{contact.lastName}}</span></td>
        <td><input type="text" ng-model="contact.contactNumber" ng-show="enabledEdit[{{$index}}]"><span ng-show="!enabledEdit[{{$index}}]">{{contact.contactNumber}}</span></td>
        <td><input type="text" ng-model="contact.contactEmail" ng-show="enabledEdit[{{$index}}]"><span ng-show="!enabledEdit[{{$index}}]">{{contact.contactEmail}}</span></td>
        <td><button class="btn btn-primary" ng-click="editContact($index)" ng-show="!enabledEdit[{{$index}}]">Edit</button>
        <button class="btn btn-primary" ng-click="editContact($index)" ng-show="enabledEdit[{{$index}}]">Done</button></td>
        </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>